*.tlog
*.obj
*.log
*.opendb
*.suo
*.idb
*.db
*.pdb
*.exe
*.ilk
*.user
*.db-shm
*.db-wal
*.res
*.ipch
*.aps
/Output

Setup/Output

Source/Service/Release
Source/Service/Debug
Source/Service/Release Portable
Source/Console/Release
Source/Console/Debug
Source/Console/Release Portable


Source/.vs/
